@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
 --blue: #003A70;
 --lt-blue: #6BA4B8;
 --purple: #981E97;
 --lt-purple: #B24DB2;
 --dk-gray: #343a40;
 --md-gray: #545859;
 --lt-gray: #ddd;
 --orange: #F58870;
 --dk-orange: #F68D2E;
}

body {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;
	--font-text-theme: 'Montserrat', sans-serif;
  --font-weight: 500;
  color: var(--md-gray);
  
  --h1-color: var(--blue);
  --h1-weight: 100;
  --h1-size: calc(2rem + 1.5vw);
  --h2-color: var(--blue);
  --h2-weight: 700;
  --h2-size: calc(1rem + 0.6vw);
  --h3-color: var(--blue);
  --h3-weight: 500;
  --h3-size: calc(1rem + 0.6vw);
}

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}
